.navbar-light .navbar-nav .nav-link{
    color: #333536;
    font-weight: 700;
}

a{
    color: #007ff0;
}

a:hover, 
.navbar-light .navbar-nav .nav-link:hover{
    color: #007ff0;
    text-decoration: none;
}

.center{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

#footer{
    color: #fff;
    background: #384148;
    text-align: center;
    padding: 20px 0;
}

html, body{
    /*background:#F1F3F4;*/
    background: #2d9dff;
    /*background-image: linear-gradient(to bottom right, cyan, magenta );*/
    font-family: 'Merriweather', serif;
    min-height: 100%;
}

.mainImg{
    width: 50%;
    border-style: double;
    border-width: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footerIcons{
    color: white;
    padding: 25px 25px;
}

.footerIcons:hover {
    background-color: #22272b;
}

.myNameMain{
    font-size: 120px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 50px;
}

h4{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

nav ul.mainNav{
    float: right;
}

nav{
    width: 100%;
    min-width: 320px;
    position: fixed;
    top: 0;
    padding: 0 15px;
    z-index: 999;
    /*height: 60px;*/  /* constraining height here causes hamburger menu to not function properly */
    background: #fff;
}

.navbar-light .navbar-nav .nav-link.contactBtn{
    display: inline-block;
    width: auto;
    background: white;
    text-decoration: none !important;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-family: "Source Sans Pro";
    font-weight: 700;
    line-height: 36px;
    font-size: 15px;
    color: white;
    padding: 0 18px;
    background: #57B0FF;
    border-radius: 18px;
    transition: all 0.15s ease-in-out;
}

@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link.contactBtn {
        margin-left: 20px;        
    }

}

.navbar-light .navbar-nav .nav-link.contactBtn:hover{
    background-color: #007ff0;
}

nav h1.logo {
    margin: 3px 15px 0 0;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0;
    vertical-align: top;
}

nav h1.logo a {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    line-height: 40px;
    font-weight: 700;
    background: #384148;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

#contact-form {
    margin: 20px 20px;
}

.temp {
    font-size: 5rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.filler {
    font-size: 6rem;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

/*Styling for gallery*/

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    background: white;
    width: 180px;
  }
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}